* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
@font-face {
    font-family: MyriadPro-LightSemiExt;
    src: url(../fonts/MyriadPro-LightSemiExt.eot),
    url(../fonts/MyriadPro-LightSemiExt.ttf),
    url(../fonts/MyriadPro-LightSemiExt.woff);
}
@font-face {
    font-family: MyriadPro-Bold;
    src: url(../fonts/MyriadPro-Bold.ttf),
    url(../fonts/MyriadPro-Bold.woff);
}
@font-face {
    font-family: MyriadPro-Regular;
    src: url(../fonts/MyriadPro-Regular.eot),
    url(../fonts/MyriadPro-Regular.ttf),
    url(../fonts/MyriadPro-Regular.woff);
}
.content {
    width: 100%;
}
.left {
    width: 44.4%;
    float: left;
}
.right {
    width: 55.6%;
    float: left;
}
.logo {
    background-image: url(../images/cap.png);
    max-width: 100%;
    margin-top: 89px;
    margin-left: 161px;
    width: 240px;
    height: 240px;
    background-size: 100%;
    border: 2px solid #3f6fb6;
    border-radius: 100%;
}
.title {
    font-family: MyriadPro-LightSemiExt, sans-serif;
    font-size: 3.25em;
    color: black;
    margin: 38px 0 0 141px;
}
.subtitle {
    font-family: MyriadPro-Bold, sans-serif;
    font-size: 3.875em;
    color: black;
    margin-left: 137px;
}
.career {
    font-family: MyriadPro-Bold, sans-serif;
    font-size: 1.5em;
    color: black;
    margin-left: 171px;
}
.left-content {
    margin-left: 61px;
    margin-right: 76px;
}
.profile {
    margin-top: 80px;
}
.logo-profile {
    width: 72px;
    height: 72px;
    border: 1px solid #3f6fb6;
    border-radius: 100%;
    float: left;
}
.text {
    color: #3d6cb0;
    font-family: MyriadPro-Bold, sans-serif;
    font-size: 2.5625em;
    padding: 12.5px 11px 0 12.5px;
    float: left;
}
.hr-line {
    padding-top: 37px;
}
.hr-line hr {
    height: 5px;
    border: none;
    background-color: #3d6cb0;
}
.text-profile {
    margin-top: 50px;
    font-family: MyriadPro-Regular, sans-serif;
    font-size: 1em;
}
.contact {
    margin-top: 50px;
}
.logo-contact {
    float: left;
}
.text-contact {
    margin-top: 37px;
}
.text-contact table {
    text-align: left;
    max-width: 100%;
    width: 100%;
}
.text-contact th {
    font-size: 1.25em;
    font-family: MyriadPro-Bold, sans-serif;
    color: #3d6cb0;
    padding-top: 40px;
}
.text-contact td {
    font-size: 1.25em;
    font-family: MyriadPro-Regular, sans-serif;
    padding-top: 40px;
}
.skills {
    margin-top: 50px;
}
.text-skills {
    font-family: MyriadPro-Regular, sans-serif;
    margin-top: 64px;
    text-align: center;
}
.blue {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #3d6cb0;
    display: inline-block;
    margin-right: 7px;
}
.grey {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #e6e6e6;
    display: inline-block;
    margin-right: 7px;
}
.rating {
    margin-top: 6px;
}
.teamwork, .innovate, .communication, .creative {
    margin-top: 10px;
    font-size: 1.5625em;
}
.right-content {
    margin-right: 58px;
}
.education {
    margin-top: 75px;
}
.list {
    margin-top: 66px;
    margin-left: 50px;
}
li::before {
    display: inline-block;
    vertical-align: text-top;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #000000;
    margin-right: 8px;
    margin-left: -28px;
    content: '';
}
.master, .date {
    display: inline-block;
}
.master {
    font-family: MyriadPro-Bold, sans-serif;
    font-size: 1.5625em;
    color: #3d6cb0;
}
.date {
    font-size: 1.5625em;
    font-family: MyriadPro-Regular, sans-serif;
    margin-left: 15px;
}
.school {
    font-size: 1.5625em;
    font-family: MyriadPro-Regular, sans-serif;
    margin-top: 5px;
}
.text-education {
    font-size: 0.9375em;
    font-family: MyriadPro-Regular, sans-serif;
    margin-top: 5px;
}
.list ul li {
    margin-top: 20px;
}
ul {
    list-style-type: none;
}
.experience {
    margin-top: 55px;
}
.company {
    display: inline-block;
    font-family: MyriadPro-Bold, sans-serif;
    font-size: 1.5625em;
}
.job {
    font-size: 1.5625em;
    font-family: MyriadPro-Regular, sans-serif;
    margin-top: 5px;
}
.text-company {
    font-size: 0.9375em;
    font-family: MyriadPro-Regular, sans-serif;
    margin-top: 5px;
}
.software {
    margin-top: 55px;
}
.software table {
    width: 100%;
}
.software table td {
    width: 50%;
}
.photoshop, .illustrator, .indesign {
    margin: 30px 35px 0 0;
}
.dreamweaver, .effects, .html-css {
    margin: 30px 0 0 35px;
}
.photoshop, .illustrator, .indesign, .dreamweaver, .effects, .html-css {
    font-family: MyriadPro-Regular, sans-serif;
    font-size: 1.5625em;
}
.ph-rating {
    background: linear-gradient(to right, #3d6cb0 90%, #e6e6e6 10%);
    height: 24px;
}
.dw-rating {
    background: linear-gradient(to right, #3d6cb0 82%, #e6e6e6 18%);
    height: 24px;
}
.ill-rating {
    background: linear-gradient(to right, #3d6cb0 70%, #e6e6e6 30%);
    height: 24px;
}
.eff-rating {
    background: linear-gradient(to right, #3d6cb0 60%, #e6e6e6 40%);
    height: 24px;
}
.ind-rating {
    background: linear-gradient(to right, #3d6cb0 55%, #e6e6e6 45%);
    height: 24px;
}
.html-rating {
    background: linear-gradient(to right, #3d6cb0 90%, #e6e6e6 10%);
    height: 24px;
}
.ph-rating, .dw-rating, .ill-rating, .eff-rating, .ind-rating, .html-rating {
    margin-top: 15px;
}
@media screen and (max-width: 780px) {
     .left, .right {
        float: none;
        width: 100%;
    } 
    .left-content, .right-content {
        margin: 0 60px;
    }
    .logo {
        margin: auto;
        margin-top: 20px;
    }
    .title, .subtitle, .career {
        margin: 0px;
        text-align: center;
    }
    .title {
        margin-top: 20px;
    }
    .profile, .contact, .skills, .education, .experience, .software {
        margin-top: 30px;
    }
    .text-contact table {
        text-align: center;
    }
    li::before {
        margin-top: -2px;
    }
}
@media screen and (max-width: 520px) {
    * {
        font-size: 14px;
    }
    .left-content, .right-content {
        margin: 0 15px;
    }
    .text-contact td, .text-contact th {
        padding-top: 20px;
    }
    .text-skills {
        margin-top: 50px;
    }
    .dreamweaver, .effects, .html-css {
        margin: 15px 0 0 15px;
    }
    .photoshop, .illustrator, .indesign {
        margin: 15px 15px 0 0;
    }
    li::before {
        width: 10px;
        height: 10px;
        margin-right: 13px;
    }
}